.btn-style:hover{
  background-color: #1395c4;
  color: white;
  border: none;
  transition: .5s;
  box-shadow: 0 0 30px 5px #1395c4;
}
.btn-style{
  background: transparent;
  border: 1px solid #1395c4;
  color: #1395c4;
  padding: 11px 40px;
  z-index: 10;
  font-size: 17px;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
}
section,footer{
  padding-top: 100px;
}
section,header{
  padding-bottom: 100px;
}
h1,h2,h3,h4,h5{
  color: #1395c4;
}
.section-title{
  font-size: 50px;
  color: #f66561;
}
